@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

/* Show it is fixed to the top */
body .container-fluid {
    padding: 0;
}

h1{
   font-family: 'Montserrat', ; 
}
/* logo */
.navbar-brand{
width: 100px;
}

/* navbar */
.navbar-nav{
margin-right: 8px;
}

.navbar .nav-link{
    color: #ffc107 !important;
    align-content: right !important;
}

.navbar .nav-link:hover{
    color: #A678EC !important;
}

.navbar .nav-link:active{
    color: rgb(120, 236, 126) !important;
}

/* social icons*/

#navicons{
    position: relative;
    margin-top: 20px;
}

.fab {
     color: #A678EC;

}
.fab:hover{
     color: rgb(3, 74, 180);

}

.social-nav-item {
    display: inline-block;
    width: 40px;
    margin-left: auto;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 120px;
  left: 70px;
}

/* css scroll */
.downscroll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-scroll,
.icon-scroll::before {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
}

.icon-scroll {
    width: 40px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    bottom: 2rem;
}

.icon-scroll::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 15px;
    border-radius: 50%;
    animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}

/* animated text */
.typewrite {
  font-size: 35px;
  color: black;
  text-transform: uppercase;
  background-color: none;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* careerlist*/

ul.list-group{
    margin-bottom: 20px;
}
li.list-group-item{
background-color:#e6e6ff;
}

/* miniabout me */
.miniabout{
    margin-top: 10px;
}

p {
	font-size: 1em;
	text-align: center;

}

/* Button */
button {
	font-family: Helvetica, sans-serif;
	font-weight: 100;
	color: #fff;
}


.fas{
    padding-left: 5px;
}

/* about */

.aboutheading{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;  
    padding-bottom: 30px;
}

#me{
    width: 317px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-right: auto;
    margin-left:  auto;
    margin-bottom: 40px;
}
ul#icons li {
   display:inline-block;
   padding-right: 20px;
   margin-bottom: 10px;
}

.iconlist{
    margin-bottom: 20px;
    margin-top: 43px;
}

.listbox{
    margin-top: 20px;
}

ol{
    float: left;
}

.list-group{
    padding-left: 41px;
    margin-bottom: 5px;
    padding-right: 41px;
    margin-left: 50px;
}

/* Skill icons and heading*/

.skillsheading{
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;  
    margin-top: 50px;
}
.container {
	text-align: center;
	position: relative;
	width: 300px;
	margin: 0 auto;
}

.fa-sitemap{
color: #01d0d9;
}

.fa-code{
color: #6d6bfd;  
}
.fa-pencil-ruler {
color:#5a2e6b;
}

.fa-camera {
color:#fb86db;
}

/* portfolio */
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* contact */
#background{
     background: #654ea3;
    background: -webkit-linear-gradient(to left, #654ea3, #eaafc8);
    background: linear-gradient(to left, #654ea3, #eaafc8);
}

/* Buttontotop */
#back-to-top.show {
opacity: 1;
visibility: visible;
}
#back-to-top {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: fixed;
bottom: 30px;
right: 30px;
opacity: 0;
visibility: hidden;
z-index: 1000;
padding: 10px 20px;
border-radius: 5px;
color: #fff;
-webkit-transition: background-color .3s, opacity .3s, visibility .5s;
-o-transition: background-color .3s, opacity .3s, visibility .5s;
transition: background-color .3s, opacity .3s, visibility .5s;
}
.btn.peach-gradient {
color: #fff;
-webkit-transition: .5s ease;
transition: .5s ease;
}

.peach-gradient {
background: linear-gradient(40deg,#B993D6 0%,#8CA6DB 51%)!important;
}
.mr-auto, .mx-auto {
margin-right: auto!important;
}
.btn {
display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.waves-effect {
position: relative;
overflow: hidden;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: transparent;
}
.btn {
margin: .375rem;
color: inherit;
text-transform: uppercase;
word-wrap: break-word;
white-space: normal;
cursor: pointer;
border: 0;
border-radius: .125rem;
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
padding: .84rem 2.14rem;
font-size: .81rem;
}

.btn.peach-gradient:hover {
background: -webkit-gradient(linear,left top,left bottom,from(#B993D6 0%),to( #8CA6DB 51%));
background: linear-gradient(#B993D6 0%,#8CA6DB 51%);
}

.btn:active, .btn:focus, .btn:hover {
outline: 0;
-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.btn:hover {
color: #212529;
text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 414px){
    
    .abouttext {
    padding-left: 15px;
    padding-right: 10px;
}
    .typewrite {
     font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {

p{
    margin-left: 20px;
    margin-right: 18px;
}

.typewrite {
  font-size: 16px;
  margin-top: 400px;
  }

li a {
  text-align: right;
}
}

@media only screen and (max-width:320px){
.typewrite {
  font-size: 10px;
}
}

@media only screen and (max-width:360px){
.typewrite {
  font-size: 10px;
}
}
@media only screen and (max-width:375px){
.typewrite {
  font-size: 15px;
}
}

@media only screen and (max-width:411px){
.typewrite {
  font-size: 10px;
}
}

@media only screen and (max-width: 414px){
    
    .abouttext {
    padding-left: 15px;
    padding-right: 10px;
}
    .typewrite {
     font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {

p{
    margin-left: 20px;
    margin-right: 18px;
}

.typewrite {
  font-size: 16px;
  }
}

@media only screen and (max-width: 1024px){
    .typewrite {
  font-size: 25px;
 }
}

