@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
/* fallback font for h1 Raleway*/ @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* fallback font for h2 Monstserrat*/ @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto:wght@500&display=swap');

/* Show it is fixed to the top */
body .container-fluid {
    padding: 0;
}

div.row{
    margin-left: 0px;
    max-width: 100%;
    padding: 0px;
    padding-bottom: 62px;
}

/* fonts */
h1{
   font-family: 'Raleway','Roboto', sans-serif;
   font-weight: bold !important;
   color: #733aaf;
   font-size: 4.5rem !important;
}

h2.font-weight-bold{
  font-family: 'Montserrat','Nunito Sans', sans-serif;
  font-size: 20px !important;
}

h3{
    font-size: 30px !important;
}
p {
  font-family: 'Montserrat','Nunito Sans', sans-serif;
  font-size: 13px !important;
}
/* logo */
.navbar-brand{
width: 100px;

}

/* navbar */
ul.navbar-nav{
  font-family: 'Raleway','Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: bold !important;
}
.navbar-nav{
margin-right: 8px;
}

.navbar .nav-link{
    color: #bbc1f6 !important;
    align-content: right !important;
}

.navbar .nav-link:hover{
    color: #A678EC !important;
}

.navbar .nav-link:current{
    color: #f7f239 !important;
}

/* social icons*/

#navicons{
    position: relative;
    margin-right: 65px;
    margin-top: 80px;
}

.fab {
     color: #bbc1f6;

}
.fab:hover{
     color: #ffc107;

}

.social-nav-item {
    display: inline-block;
    width: 40px;
    margin-left: auto;
}

/* Top left text */
div.top-left {
  position: relative;
  top: 77px;
  left: 25px;
  width: fit-content;
}

/* css scroll icon */
.downscroll {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-scroll,
.icon-scroll::before {
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translateX(-50%);
}

.icon-scroll {
    width: 40px;
    height: 70px;
    border: 2px solid #6160b8;
    border-radius: 25px;
    cursor: pointer;
    bottom: 2rem;
}

.icon-scroll::before {
    content: '';
    width: 8px;
    height: 8px;
    background:#6160b8;
    margin-left: -4px;
    top: 15px;
    border-radius: 50%;
    animation: 1.5s scroll cubic-bezier(0.65, -0.55, 0.25, 1.5) infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(0) scale(0.5);
    }
    10% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(30px) scale(0.5);
    }
}

/* animated text */
.typewrite {
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  background-color: none;
  font-family: 'Montserrat','Nunito Sans', sans-serif;
  font-weight: 800 !important;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* careerlist*/

ul.list-group{
    margin-bottom: 20px;
}
li.list-group-item{
background-color:#e6e6ff;
}

/* miniabout me */
.miniabout{
    margin-top: 57px;
}

p.miniquote {
	font-size: 20px !important;
	text-align: center;
}

i.fas.fa-file-download{
    font-weight: 900;
    padding-left: 7px;
}

/* about */

#emptyspace_about{
      height: 57px;
}
.aboutheading{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 30px;
}

#me{
    width: 317px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-right: auto;
    margin-left:  auto;
    margin-bottom: 40px;
}
.social_media{
    margin-top: 11px;
}
ul#icons li {
   display:inline-block;
   padding-right: 20px;
   margin-bottom: 10px;
}

.iconlist{
    margin-bottom: 13px;
    margin-top: 43px;
}

.listbox{
    margin-top: 20px;
}

ol{
    float: left;
}

.list-group{
    margin-bottom: 5px;
}

/* Skill icons and heading*/

#emptyspace_skills{
      height: 57px;
}

.skillsheading{
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.container {
	text-align: center;
	position: relative;
	width: 300px;
	margin: 0 auto;
}

.fa-sitemap{
color: #01d0d9;
}

.fa-code{
color: #6d6bfd;
}

.fa-cogs {
color: #ffc107;
}

.fa-pencil-ruler {
color:#5a2e6b;
}

.fa-camera {
color:#fb86db;
}

.fa-laptop {
color: #ef29b9;
}

.fa-2x {
    font-size: 4em;
}

p.grey-text {
  margin-top: 0;
margin-bottom: 0.2rem;
}
/* portfolio */

.skillsheading{
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

div.portfolioheading.text-center{
  margin-top: 80px;
}

.portfolio_buttons{
text-align: center;
margin-bottom: 40px;
margin-top: 50px;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}


.btn.purple-gradient {
    color: #fff;

    -webkit-transition: .5s ease;
    transition:.5s ease

}
.btn.purple-gradient:hover{
    color: #fff !important;
    font-weight: bold;
    background: linear-gradient(300deg,#B993D6 0%,#8CA6DB 51%)!important
}

.purple-gradient {
background: linear-gradient(40deg,#B993D6 0%,#8CA6DB 51%)!important;
}
.mr-auto, .mx-auto {
margin-right: auto!important;
}
.btn {
margin: .375rem;
color: inherit;
text-transform: uppercase;
word-wrap: break-word;
white-space: normal;
cursor: pointer;
border: 0;
border-radius: .125rem;
-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
-webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
padding: .84rem 2.14rem;
font-size: .81rem;
}

.btn:active, .btn:focus, .btn:hover {
outline: 0;
-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* contact */
#contactheading{
    font-family: 'Raleway','Roboto', sans-serif;
    font-weight: bold !important;
    color: #ffffff;
    font-size: 57px !important;
    margin-top: 84px;
}

.rowcontact{
    margin-left: 0px;
    max-width: 100%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
#background{
background: linear-gradient(19deg,#7131a2 0%,#7477be 51%,#f9d9f1)!important;
}

.btn.btn-elegant:hover{
  font-weight: bold;
  color: #fff;
  background: linear-gradient(80deg,#B993D6 0%,#8CA6DB 51%)!important
}

/* Buttontotop */
.btn.btn-elegant{
font-family: 'Montserrat','Nunito Sans', sans-serif;
color: #fff;
  background: linear-gradient(300deg,#B993D6 0%,#8CA6DB 51%)!important
}

#back-to-top.show {
opacity: 1;
visibility: visible;
}
#back-to-top {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
position: fixed;
bottom: 46px;
right: 30px;
opacity: 0;
visibility: hidden;
z-index: 1000;
padding: 10px 20px;
border-radius: 5px;
color: #fff;
-webkit-transition: background-color .3s, opacity .3s, visibility .5s;
-o-transition: background-color .3s, opacity .3s, visibility .5s;
transition: background-color .3s, opacity .3s, visibility .5s;
}

#copyright{
  text-align: center;
  margin: 5px;
  font-family: 'Raleway','Roboto', sans-serif !important;
  font-size: 13px;
  color: #7134a3;
}
/* Media Queries */

@media only screen and (max-width: 414px){

    .downscroll{
        display: none;
    }

    .abouttext {
    padding-left: 15px;
    padding-right: 10px;
}

    .typewrite {
     font-size: 20px;
  }

  #navicons {
    position: relative;
    margin-right: 107px;
    margin-top: 48px;
}
}

@media only screen and (max-width: 768px) {

p{
    margin-left: 20px;
    margin-right: 18px;
}

.typewrite {
  font-size: 16px;
  margin-top: 0;
  }

  #navicons {
    position: relative;
    margin-right: 44px;
    margin-top: 48px;
}

li a {
  text-align: right;
}

.downscroll{
        display: none;
    }

    ul.list-group {
    margin-bottom: 0px;
}

div.row {
 padding-bottom: 0px;
}

#emptyspace_about {
display: none;
}

}

@media only screen and (max-width:320px){
.typewrite {
  font-size: 10px;
}

.downscroll{
        display: none;
    }
}

@media only screen and (max-width:360px){
.typewrite {
  font-size: 10px;
}

.downscroll{
        display: none;
    }
}
@media only screen and (max-width:375px){
.typewrite {
  font-size: 13px;
}

#navicons {
    position: relative;
    margin-right: 81px;
    margin-top: 48px;
}

.downscroll{
        display: none;
    }

    #contactheading {
    font-size: 48px;
}
#back-to-top{
    bottom: 45px;
    left: 278px;
}
}

@media only screen and (max-width:411px){
.typewrite {
  font-size: 10px;
}

.downscroll{
        display: none;
    }
    #back-to-top{
    bottom: 45px;
    left: 318px;
}
}


@media only screen and (max-width: 1024px){

    ul.navbar-nav.text-right{
    margin-right: 52px;
}

    .typewrite {
  font-size: 25px;
 }

 #navicons {
    position: relative;
    margin-right: 44px;
    margin-top: 48px;
}

.downscroll{
        display: none;
    }
}
@media only screen and (max-width: 540px){

    .typewrite {
  font-size: 18px;
 }
 
#navicons {
    position: relative;
    margin-right: 7px;
    margin-top: 48px;
}

#back-to-top{
    bottom: 45px;
    left: 444px;
}
.downscroll{
        display: none;
    }
}

@media only screen and (max-width: 280px){

    .navbar-brand {
    width: 58px;
}

    .typewrite {
  font-size: 14px;
  font-family: 'Raleway';
 }

#navicons {
    position: relative;
    margin-right: 34px;
    margin-top: 48px;
}
.btn{
    width: 219px;
}
.downscroll{
        display: none;
    }

p.miniquote {
    font-size: 16px !important;
}

#me{
    width: 248px;
}

.btn.btn-elegant {
    width: auto;
}
h1 {
    font-size: 2.5rem !important;
}
#contactheading {
    font-size: 31px !important;
}
}